<div class="containerFull">
    <div class="container">
        <div class="containerTop">
            <div class="nuestrosNominados">
                <p class="TituloNominados">NUESTROS NOMINADOS</p>
                
            </div>
        </div>
    </div>
    
    <div class="container">
        <h1>ajoajoas</h1>
       
            <ul>
                    <li><a routerLink="/nominados2018">Nominados 2018</a></li>
                    <li><a routerLink="/nominados2019">Nominados 2018</a></li>
            </ul>
            
            
    </div>
    <!-- <div id="sociales">
        <p><a href="https://www.facebook.com/Caprimint/" target="_blank" class="fa fa-facebook"></a></p>
        <p id="posfix"><a href="https://www.twitter.com/Caprimint" target="_blank" class="fa fa-twitter"></a></p>
        <p id="posfix2"><a href="https://www.instagram.com/caprimint/" target="_blank" class="fa fa-instagram"></a></p>
        <p id="posfix3"><a href="https://www.youtube.com/user/CapriCaprice" target="_blank" class="fa fa-youtube"></a></p>
        <p id="posfix4" name="posfix4"><a href="https://www.twitch.tv/Caprimint/" target="_blank"  class="fa fa-twitch"></a></p>
        </div> -->
</div>

