ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 100%;

}

li 
{ 
  float: right;
  
}

li a 
{
  display: block;
  color: #b5a500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover 
{
  background-color: #111;
}

.nav-menu
{
  height: 10%;
  border: 0;
  padding: 0;
  margin: 0;
  border-bottom: solid;
}

.row-4
{
  background-color: black;
}
