 <div class="row" >
        <div class="col-sm-5" style="background-color: black; border: 0; padding: 0; margin: 0;">
            <img src="http://www.caprimint.cl/caprimint/images/fondo.png" style="width: 100%; height: 98%;">
        </div>
        <div class="col-sm-7">
                    
                    <p>
                        Nunca llegué a imaginar cuando hice mi primer directo muy tímida que todo iba a crecer hasta crear una comunidad 
                        tan grande. Este 2018 se cumplen 3 años desde que me atreví a jugar con una cámara encendida y no me arrepiento de 
                        absolutamente nada. Agradezco toda la atención y cariño que me brindan, aunque sigo pensando que no es suficiente, 
                        intento retribuirlo como puedo. Los CapriAwards comenzaron como una manera troll de resumir lo mejor de año y creo 
                        que cada edición ha sido muy bien recibida, espero disfruten y tengan claro que se viene otro año lleno de 
                        aprendizaje y cosas nuevas
                    </p>
        </div>
    </div>

<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>


